
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">회원 정보</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                탈퇴 회원정보 리스트입니다.
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div ng-app="myApp" ng-controller="memberCtrl" class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th align="center" style="width: 10%">번 호</th>
                                <th style="width: 25%">회원 아이디</th>
                                <th style="width: 20%">회원 닉네임</th>
                                <th style="width: 15%">가입 경로</th>
                                <th align="center" style="width: 15%">가입일</th>
                                <th align="center" style="width: 15%">탈퇴일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in members" class="odd gradeX">
                                <td align="center">{{x.MemberNo }}</td>
                                <td>{{x.MemberID }}</td>
                                <td>{{x.NickName }}</td>
                                <td align="center" ng-if="x.Route === 'A'">App</td>
                                <td align="center" ng-if="x.Route === 'G'">Google</td>
                                <td align="center" ng-if="x.Route === 'F'">Facebook</td>
                                <td align="center">{{x.DateCreated | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td align="center">{{x.DateDeleted | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- jQuery -->
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="~/Scripts/bower_components/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="~/Scripts/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/Scripts/dist/sb-admin-2.js"></script>

<!-- AngularJS Core JavaScript -->
<script src="~/Scripts/angular.min.js"></script>

<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
</script>

<script>
    var app = angular.module('myApp', []);
    app.controller('memberCtrl', function ($scope, $http) {
        $http.get("http://www.mypetter.net/WebAPI/api/Members?CurrentPage=1&ItemsPerPage=10&StateFlag=D")
        .success(function (response) {
            $scope.members = response.JsonDataSet;
        });
    });
</script>